
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    background-color: #ffffff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    height: 50px;
}

.search-bar {
    flex-grow: 1;
    display: flex;
    margin: 0 20px;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
}

.search-bar button {
    padding: 8px 16px;
    background-color: #ccc;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.user-menu img {
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
}

.main-container {
    display: flex;
    flex-grow: 1;
}

.sidebar {
    width: 270px;
    background-color: #ffffff;
    padding: 20px 0;
    box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 20px;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #f1f1f1;
}


.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: #f9f9f9;
    overflow-y: auto;
}

.video-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
}

.video-card {
    flex-basis: calc(25% - 20px);
    background-color: #ffffff;
    border-radius: 8px;
    overflow: hidden;
}

.video-card img {
    width: 100%;
    display: block;
}

.video-card h3 {
    font-size: 16px;
    margin: 10px;
}

.video-card p {
    font-size: 14px;
    color: #555;
    margin: 0 10px 10px;
}
